$main-bg: #f7f7f7; /* 全站页面背景色 */
$black: #000000; /* 栏目颜色*/
$title-black: #333333; /* 黑色标题 */
$grey: #999999; /*灰色字体 */
$minor-grey: #666666; /*次要文字颜色*/
$border-color: #dadbde; /* 边框色 */
$themeYellow: #4d573a; /* 亮黄色 */
$ligh-grey: #dddddd;
$ligh-yellow: #fbf3db; /* 浅黄色button */
$label-color:#868686; /*问题详情色号*/
$themeBlue: #3FABF4; /* 主题蓝色*/
$kbothemmcolor: #da6635 /*凯博logo*/
